<html>
<head>
    <title>
        Registration
    </title>

</head>
<body>
    <h1>
        welcome to registration page
    </h1>
   <center>
    <form action="/insert2" method="post">
        <h4>Register</h4>
        <table border="px">
            <tr>
                <td>Name</td>
                <td><input type="number" name="name" id="name"></td>
            </tr>
            <tr>
                <td>age </td>
                <td><input type="text" name="ename" id="uname"></td>

            </tr>
            
            <tr>
                <td>blood_group</td>
                <td><select name="blood">
                    <option disabled="true" selected >--select blood gropu-</option>
                    <option>a+</option>
                    <option>b+</option>
                    <option>o+</option>
                    <option>ab+</option>
                    <option>a-</a-></option>
                    <option>b-</option>
                    <option>o-</o-></option>
                    <option>ab-</option>
                </select></td>
            </tr>
           
        </table>
        <br>
        <br>
        <input type="reset" value="refresh"><br>
        <input type="submit" value="submit">
    </form>
   </center>
   <a href="/">welcome</a>
   <a href="/login">login page</a>  
</body>
</html>